{% extends "layout.html" %}

{% block post_class %}tag-template{% endblock post_class %}

{% block content %}
    <header class="main-header tag-head">
        <nav class="main-nav">
            <a class="back-button" href="{{ get_url(path="/") }}"><i class="icon-left-open"></i> Home</a>
            <a class="subscribe-button" href="{{ get_url(path="rss.xml", trailing_slash=false) }}"><i class="icon-rss"></i> Subscribe</a>
            <div class="clearfix"></div>
        </nav>
        <div class="main-header-content inner">
            <h1 class="page-title">Etiquetas</h1>
        </div>
    </header>

    <main class="content" role="main">
        <article>
            <section class="post-content">
                <ol class="tags">
                    {% for tag in terms %}
                        <li>
                            <em>{{ tag.pages | length }}</em>
                            <a href="{{ tag.permalink }}" rel="tag">
                                #{{ tag.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </section>
        </article>
    </main>
{% endblock content %}
