<figure class="author-image">
    <a class="img" href="/" style="background-image: url(/assets/images/profile.jpg?v2)">
    <span class="hidden">{{ siteData.author_name }}'s Picture</span></a>
</figure>
<section class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <!-- Author Name -->
    <h4 itemprop="name">{{ siteData.author_name }}</h4>
    <!-- Author Bio -->
    <p>
        {{ siteData.author_description }} Si quieres enviarme algún comentario, puedes <a href="/about">contactar conmigo</a>.
    </p>
</section>
