
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-cc:before { content: '\f25e'; } /* '' */
.icon-mail:before { content: '\f2b6'; } /* '' */