{% import "_macros.html" as macros %}

{% extends "layout.html" %}

{% block post_class %}home-template{% endblock post_class %}

{% block content %}
    <header class="main-header">
        <nav class="main-nav">
            <a class="blog-logo" href="{{ get_url(path="/") }}">
                <img src="/assets/images/logo.png" alt="Rsenses" />
            </a>
            <a class="subscribe-button" href="{{ get_url(path="rss.xml", trailing_slash=false) }}"><i class="icon-rss"></i> Subscribe</a>
            <div class="clearfix"></div>
        </nav>
        <div class="main-header-content inner">
            <h1 class="page-title">{% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}</h1>
            <h2 class="page-description">
                {% if page.description %}{{ page.description | safe }} - {% endif %}{{ config.description | safe }}
            </h2>
        </div>
    </header>

    <main id="content" class="content" role="main">
        {% for page in paginator.pages %}
            {{ macros::post_header(page=page, excerpt=true) }}
        {% endfor %}

        {% include "pagination.html" %}
    </main>
{% endblock content %}