<section class="share">
    <h4>Share this post</h4>
    <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ page.permalink }}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" rel="nofollow noopener">
        <span class="icon-twitter"></span>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink }}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" rel="nofollow noopener">
        <span class="icon-facebook"></span>
    </a>
    <a href="whatsapp://send?text={{page.title}}%20{{ page.permalink }}" rel="nofollow noopener">
        <span class="icon-whatsapp"></span>
    </a>
</section>